@model IEnumerable<WebshopProject.Models.Movie>

<div class="container productPages">
    <div style="font-family:Arial; color:wheat">
        <h4>|<a href="#" class="btn btn-primary">Action</a>|<a href="#" class="btn btn-primary">Adventure</a>|<a href="#" class="btn btn-primary">Comedy</a>|<a href="#" class="btn btn-primary">Horror</a>|<a href="#" class="btn btn-primary">Drama</a>|<a href="#" class="btn btn-primary">Mystery</a>|<a href="#" class="btn btn-primary">Romance</a>|<a href="#" class="btn btn-primary">Thriller</a>|<a href="#" class="btn btn-primary">Historical</a>|<a href="#" class="btn btn-primary">Animation</a>|</h4>
    </div>
    <div class="row">
        <div id="productNav" class="col-md-4">
               
       
              
           </div>

        <div>
            <h2>Start</h2>
        </div>
 </div>

