<reference path="~/Content/bootstrap.min.css"></reference>

@model WebshopProject.Models.ModelClass
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<!DOCTYPE html>
<html>
@* This page index.cshtml will be our main page, on here we will load product angular-views, angular-ajax forms etc *@

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Angular Movies</title>
</head>

<body ng-app="shopApp" ng-controller="MainCtrl">

    @* Bootstrap container for page fluidity *@
    <div class="container">
        <div class="row">
            
            <div class="col-md-8" style="border-bottom:1px outset #F0A830">

                @* PRODUCT PAGES *@
                <div ng-view></div>

            </div>

            <div class="container col-md-4" style="border-left:1px outset #F0A830">
                <h2>Cart</h2>
                <p><b>Put movies in your cart to checkout.</b></p>

                <div class="panel-group col-md-3 col-md-offset-1">
                    <div class="panel panel-success">
                        <div class="panel-heading"><i>{{message}}</i></div>
                        <div class="panel-body">placeholder</div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</body>
</html>
